Repository logstash-plugins/logstash-input-beats, pull requests merged in 2021-04, with the labels that each got.

#415 Doc: Add plugin name attribute
  CHANGELOG.md
  VERSION
  docs/index.asciidoc
Labels: docs, status:approved

#416 Doc: Remove unnecessary file
  docs/agent.asciidoc
Labels: docs, status:approved

#418 Updated Jackson dependencies
  CHANGELOG.md
  build.gradle
Labels: status:needs-triage

#420 Fix: safe-guard byte buf allocation
  CHANGELOG.md
  VERSION
  src/main/java/org/logstash/beats/BeatsParser.java
  src/main/java/org/logstash/beats/InvalidFrameProtocolException.java
Labels: status:needs-review
